@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#slider').layerSlider({
                sliderVersion: '6.0.0',
                type: 'fullwidth',
                responsiveUnder: 0,
                layersContainer: 1200,
                maxRatio: 1,
                parallaxScrollReverse: true,
                hideUnder: 0,
                hideOver: 100000,
                skin: 'v5',
                showBarTimer: false,
                thumbnailNavigation: 'disabled',
                allowRestartOnResize: true,
                skinsPath: 'assets/skins/',
                height: 940
            });
        });
    </script>
}
<!-- Slider Section Start -->
<!-- Slider HTML markup -->
<div class="full-row p-0 overflow-hidden">
    <div id="slider" style="width:1200px; height:980px;margin:0 auto;margin-bottom: 0px;">
        <!-- Slide 1-->
        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:20000; transition2d:3; timeshift:1000; deeplink:home; kenburnszoom:in; kenburnsrotate:0; kenburnsscale:1.1; parallaxevent:scroll; parallaxdurationmove:500;">
            <img width="1920" height="980" src="@Url.Content("~/images/banners/jd-home_equipo.jpg")" class="ls-bg" alt="" />
            <div style="width:100%; height:100%; background:rgba(37, 40, 43, 0.49); top:50%; left:50%;" class="ls-l" data-ls="easingin:easeOutQuint; durationin:1500; durationout:400; parallaxlevel:0; position:fixed;"></div>
            <p style="font-weight:800; text-align:center; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); width:700px; font-family:'Montserrat', sans-serif; font-size:45px; line-height:60px; top:42%; left:50%; white-space:normal;" class="ls-l text-white " data-ls="offsetyin:40; delayin:1500; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:3;">Desarrollamos soluciones de software</p>
            <p style="font-weight:500; text-align:center;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); width:500px; font-family:'Montserrat', sans-serif; font-size:16px; line-height:50px; color:#ffffff; top:30%; left:50%; white-space:normal;" class="ls-l" data-ls="offsetyin:40; delayin:500; easingin:easeOutQuint; offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:4;">QUEREMOS IMPACTAR TU NEGOCIO POSITIVAMENTE</p>
            <p style="font-weight:400; text-align:center;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); width:720px; font-family:'Montserrat', sans-serif; font-size:17px; line-height:30px; color:#ffffff; top:60%; left:50%; white-space:normal;" class="ls-l" data-ls="showinfo:1; delayin:1600; fadein:false; rotatein:0; rotateout:0; texttransitionin:true; texttypein:chars_asc; textshiftin:30; textdurationin:500; textstartatin:transitioninstart + 0; rotation:0;">Ayudamos a mejorar los procesos tecnológicos que nuestros clientes usan día a día a través del desarrollo de aplicaciones web y sistemas a la medida.</p>
        </div>
        <!-- Slide 2-->
        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:8000; transition2d:3; timeshift:-500; deeplink:home; kenburnszoom:in; kenburnsrotate:0; kenburnsscale:1.1; parallaxevent:scroll; parallaxdurationmove:500;">
            <img width="1920" height="980" src="@Url.Content("~/images/banners/jd-home_plan.jpg")" class="ls-bg" alt="" />
            <div style="width:100%; height:100%; background:rgba(37, 40, 43, 0.49); top:50%; left:50%;" class="ls-l" data-ls="easingin:easeOutQuint; durationin:1500; durationout:400; parallaxlevel:0; position:fixed;"></div>
            <p style="font-weight:800; text-align:center; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);width:700px; font-family:'Montserrat', sans-serif; font-size:45px; line-height:60px; color:#fff; top:40%; left:50%; white-space:normal;" class="ls-l" data-ls="offsetyin:40; delayin:1000; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:3;">Nosotros te ayudamos</p>
            <p style="font-weight:500; text-align:center;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);width:500px; font-family:'Montserrat', sans-serif; font-size:16px; line-height:50px; color:#ffffff; top:32%; left:50%; white-space:normal;" class="ls-l" data-ls="offsetyin:40; delayin:500; easingin:easeOutQuint; offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:4;">PROYECTAMOS HACIA EL FUTURO </p>
            <p style="font-weight:400; text-align:center;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);width:720px; font-family:'Montserrat', sans-serif; font-size:17px; line-height:30px; color:#ffffff; top:50%; left:50%; white-space:normal;" class="ls-l" data-ls="offsetyin:40; delayin:1800; easingin:easeOutQuint; offsetyout:-250; durationin:1500; durationout:400; parallax:false; parallaxlevel:2;">Trabajamos contigo para cumplir tus metas con soluciones de software a tu medida.</p>
            <a style="" class="ls-l" asp-controller="Services" asp-action="Index" target="_self" data-ls="offsetyin:40; delayin:2600; easingin:easeOutQuint; offsetyout:-300; durationin:1500; durationout:400; hover:true; hoverdurationin:300; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#444444; parallax:false; parallaxlevel:1;">
                <p style="font-weight:500; text-align:center;cursor:pointer;padding-right:35px; padding-left:35px; font-family:'Montserrat', sans-serif; font-size:15px; line-height:30px; top:60%; left:50%; border-top:2px solid #fff; border-right:2px solid #fff; border-bottom:2px solid #fff; border-left:2px solid #fff; color:#ffffff; border-radius:2px; padding-top:12px; padding-bottom:10px; background:rgba(0, 0, 0, 0.1); white-space:normal;" class="">Ver nuestro servicios</p>
            </a>
        </div>
        <!-- Slide 3
        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:12000; transition2d:3; timeshift:-500; deeplink:home; kenburnszoom:in; kenburnsrotate:0; kenburnsscale:1.1; parallaxevent:scroll; parallaxdurationmove:500;">
            <img width="1920" height="980" src="assets/images/slider/corporate-2.jpg" class="ls-bg" alt="" />
            <div style="width:100%; height:100%; background:rgba(37, 40, 43, 0.49); top:50%; left:50%;" class="ls-l" data-ls="easingin:easeOutQuint; durationin:1500; durationout:400; parallaxlevel:0; position:fixed;"></div>
            <p style="font-weight:800; text-align:center; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);width:700px; font-family:'Montserrat', sans-serif; font-size:45px; line-height:60px; color:#fff; top:40%; left:50%; white-space:normal;" class="ls-l ls-hide-phone" data-ls="offsetyin:40; delayin:1000; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:3;">Tu satisfacción nos importa</p>
            <p style="font-weight:500; text-align:center;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);width:500px; font-family:'Montserrat', sans-serif; font-size:16px; line-height:50px; color:#ffffff; top:32%; left:50%; white-space:normal;" class="ls-l ls-hide-phone" data-ls="offsetyin:40; delayin:500; easingin:easeOutQuint; offsetyout:-200; durationin:1500; durationout:400; parallax:false; parallaxlevel:4;">PROYECTAMOS HACIA EL FUTURO</p>
            <p style="font-weight:400; text-align:center;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);width:720px; font-family:'Montserrat', sans-serif; font-size:17px; line-height:30px; color:#ffffff; top:50%; left:50%; white-space:normal;" class="ls-l ls-hide-phone" data-ls="offsetyin:40; delayin:1800; easingin:easeOutQuint; offsetyout:-250; durationin:1500; durationout:400; parallax:false; parallaxlevel:2;">Trabajamos contigo para cumplir tus metas con soluciones de software a tu medida. </p>
        </div>-->
    </div>
</div>
<div id="jdservicios">
    <div class="full-row" style="padding-bottom: 30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <!--<span class="text-primary pb-2 d-table mx-auto tagline">Somos expertos capaces de desarrollar el software</span>-->
                    <h3 class="mb-4 w-50 down-line mx-auto text-center w-sm-100">Las soluciones que tus proyectos necesitan para alcanzar tus objetivos</h3>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 p-0">
                    <div class="thumb-zoomer bg-white text-center px-4 py-5 y-center hover-bg-primary hover-text-white transation">
                        <i class="flaticon-devices text-primary flat-large"></i>
                        <h5 class="my-3"><a asp-controller="Services" asp-action="GroupBy" asp-route-groupId="aplicaciones-de-negocio">Aplicaciones de negocio</a></h5>
                        <p>Trabajamos contigo para desarrollar aplicaciones que faciliten los procesos más importantes de tu negocio</p>
                        <a asp-controller="Services" asp-action="GroupBy" asp-route-groupId="aplicaciones-de-negocio" class="rounded-circle bg-white x-center"><i class="flaticon-next"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-0">
                    <div class="thumb-zoomer bg-white text-center px-4 py-5 y-center hover-bg-primary hover-text-white transation">
                        <i class="flaticon-network-1 text-primary flat-large"></i>
                        <h5 class="my-3"><a asp-controller="Services" asp-action="GroupBy" asp-route-groupId="integracion-de-sistemas">Integración de sistemas</a></h5>
                        <p>Nos encargamos de todo el proceso de unir o migrar diferentes sistemas o componentes de manera confiable y segura</p>
                        <a asp-controller="Services" asp-action="GroupBy" asp-route-groupId="integracion-de-sistemas" class="rounded-circle bg-white x-center"><i class="flaticon-next"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-0">
                    <div class="thumb-zoomer bg-white text-center px-4 py-5 y-center hover-bg-primary hover-text-white transation">
                        <i class="flaticon-branding-1 text-primary flat-large"></i>
                        <h5 class="my-3"><a asp-controller="Services" asp-action="GroupBy" asp-route-groupId="advanced-tech">Advanced Tech</a></h5>
                        <p>Creamos herramientas innovadoras capaces de sumar valor a cada negocio, según sus necesidades específicas</p>
                        <a asp-controller="Services" asp-action="GroupBy" asp-route-groupId="advanced-tech" class="rounded-circle bg-white x-center"><i class="flaticon-next"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-0">
                    <div class="thumb-zoomer bg-white text-center px-4 py-5 y-center hover-bg-primary hover-text-white transation">
                        <i class="flaticon-student text-primary flat-large"></i>
                        <h5 class="my-3"><a asp-controller="Services" asp-action="GroupBy" asp-route-groupId="servicios-profesionales">Servicios profesionales</a></h5>
                        <p>Tenemos personal especializado para brindar soluciones y atención a nuestros clientes y sus clientes finales</p>
                        <a asp-controller="Services" asp-action="GroupBy" asp-route-groupId="servicios-profesionales" class="rounded-circle bg-white x-center"><i class="flaticon-next"></i></a>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <a asp-controller="Services" asp-action="Index" class="btn btn-primary btn-medium mx-2">Ver todos los servicios &nbsp;<i class="fas fa-long-arrow-alt-right text-white"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- How Communication Section Start -->
<div id="jdmodelos">
    <div class="full-row bg-secondary">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
                <div class="col-md-12">
                    <h3 class="down-line mb-30 w-50 text-white text-center mx-auto w-sm-100">Nos adaptamos a lo que nuestros clientes están buscando</h3>
                    <div class="w-75 mx-auto text-gray text-center pb-4 w-sm-100"><p> Manejamos tres modelos de precios y tres de trabajo basados en los alcances, los tiempos y los recursos involucrados; éstos pueden combinarse entre sí, según las especificaciones de cada proyecto.</p></div>
                </div>
            </div>
            <div class="row wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
                <div class="col-lg-4 col-md-4">
                    <div class="mb-5 text-gray xs-text-center">
                        <img class="mb-2 jd-img-modelo" src="@Url.Content("~/images/iconos/i_modelo01.png")" alt="">
                        <h5 class="mb-3 text-white">Modelo de outsourcing</h5>
                        <p>Tenemos los talentos técnicos, de análisis y de planeación para llevar a cabo con transparencia los proyectos de nuestros clientes.</p>
                        <p><b>Modelos de precio recomendados:</b> Time &amp; Material y Fixed Price </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="mb-5 text-gray xs-text-center">
                        <img class="mb-2 jd-img-modelo" src="@Url.Content("~/images/iconos/i_modelo02.png")" alt="">
                        <h5 class="mb-3 text-white">Modelo Team Extension (TEM)</h5>
                        <p>Uno o varios de nuestro equipo de especialistas se vuelven parte del equipo de nuestros clientes y trabajan directamente con ellos.</p>
                        <p><b>Modelos de precio recomendados:</b> Fixed Price y Monthly Retainer</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="mb-5 text-gray xs-text-center">
                        <img class="mb-2 jd-img-modelo" src="@Url.Content("~/images/iconos/i_modelo03.png")" alt="">
                        <h5 class="mb-3 text-white">Modelo Dedicated Development Team</h5>
                        <p>El cliente puede completar su equipo de expertos para un proyecto en específico contratando a uno de nuestros especialistas –a mediano o largo plazo–.</p>
                        <p><b>Modelo de precio recomendado:</b> Monthly Retainer</p>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a asp-controller="Pricing" asp-action="Index" class="btn btn-primary btn-medium mx-2">Ver los modelos de precios &nbsp;<i class="fas fa-long-arrow-alt-right text-white"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- How Communication Section End -->
<!-- Productos Start -->
<div id="jdproductos">
    <div class="full-row">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <!--<span class="text-primary pb-2 d-table mx-auto tagline">Somos expertos capaces de desarrollar el software</span>-->
                    <h2 class="mb-4 w-50 down-line mx-auto text-center w-sm-100">Productos JD Solutions</h2>
                    <!--<div class="mx-auto text-gray text-center pb-4 w-sm-100"><p> Manejamos tres modelos de precios y tres de trabajo basados en los alcances, los tiempos y los recursos involucrados; éstos pueden combinarse entre sí, según las especificaciones de cada proyecto.</p></div>-->
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="intro-video mt-md-30" style="background: url(@Url.Content("~/images/productos/pr_bluehouse.jpg")) no-repeat 100%/100%;"></div>
                </div>
                <div class="col-lg-7 wow fadeIn" data-wow-delay="100ms" data-wow-duration="1000ms">
                    <!--<h2 class="down-line mb-30">Blue House</h2>-->
                    <h3 class="down-line mb-30">BLUE House</h3>
                    <h5>Sector inmobiliario</h5>
                    <p>BLUE House es un software desarrollado para el sector inmobiliario en México que te permite gestionar tus contactos, inmuebles y personal de una manera fácil, profesional e intuitiva. Esto permite reducir tiempos y costos mediante la automatización de los procesos inmobiliarios actuales.</p>
                    <div class="col-12 jd-padding0">
                        <a asp-controller="Products" asp-action="Bluehouse" class="btn btn-primary btn-medium">Conoce más &nbsp;<i class="fas fa-long-arrow-alt-right text-white"></i></a>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="intro-video mt-md-30" style="background: url(@Url.Content("~/images/productos/pr_pacfe.jpg")) no-repeat 100%/100%;">
                    </div>
                </div>
                <div class="col-lg-7 wow fadeIn" data-wow-delay="100ms" data-wow-duration="1000ms">
                    <!--<img class="mb-2" src="assets/images/rocket.png" alt="">-->
                    <h3 class="down-line mb-30">PACFE</h3>
                    <h5>Sector financiero y de contabilidad</h5>
                    <p>Somos distribuidores autorizados de PACFE, PACFE es una ventanilla virtual de recepción de facturas que gestiona la carga masiva, validación y aprobación de facturas electrónicas y complementos de pago. Con este portal puedes automatizar la recepción de facturas de tus proveedores. PACFE opera conforme al artículo 69 B del Código Fiscal de la Federación.</p>
                    <div class="col-12 jd-padding0">
                        <a asp-controller="Products" asp-action="PACFE" class="btn btn-primary btn-medium">Conoce más &nbsp;<i class="fas fa-long-arrow-alt-right text-white"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Productos End -->
<!-- Portafolio Start -->
<div id="jdproyectos">
    <div class="full-row bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="down-line text-center mb-30">Algunos de nuestros proyectos</h2>
                    <span class="text-general text-center mx-auto mt-4 mb-5 sub-title w-50 w-sm-100">Empatizamos con nuestros clientes para entender sus objetivos y actuamos en conjunto  para obtener el mejor producto.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="portfolio-carousel position-relative">
                        <div class="3block-carusel owl-carousel">
                            <div class="item">
                                <div class="portfolio-classic">
                                    <div class="portfolio-img overflow-hidden position-relative">
                                        <img class="transation" src="@Url.Content("~/images/proyectos/p_ara01.jpg")" alt="Image not found!">
                                        <div class="portfolio-hover transation bg-primary">
                                            <a class="portfolio-view" href="@Url.Content("~/images/proyectos/p_ara01.jpg")" data-fancybox="gallery" data-caption="Portal de recepción de facturas. Cliente: Aranet"><i class="flaticon-search flat-mini text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="portfolio-info mt-3">
                                        <div class="portfolio-title d-inline-block">
                                            <h6 class="mb-1 text-secondary">Portal de recepción de facturas</h6>
                                            <div class="text-primary">Finanzas &bull; Facturación</div>
                                            <div class=""><span>Aranet</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="portfolio-classic">
                                    <div class="portfolio-img overflow-hidden position-relative">
                                        <img class="transation" src="@Url.Content("~/images/proyectos/p_casamax01.jpg")" alt="Image not found!">
                                        <div class="portfolio-hover transation bg-primary">
                                            <a class="portfolio-view" href="@Url.Content("~/images/proyectos/p_casamax01.jpg")" data-fancybox="gallery" data-caption="CRM / Intranet y página web. Cliente: Casamax"><i class="flaticon-search flat-mini text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="portfolio-info mt-3">
                                        <div class="portfolio-title d-inline-block">
                                            <h6 class="mb-1 text-secondary">CRM / Intranet / Página web</h6>
                                            <div class="text-primary">Inmobiliaria &bull; Bienes raíces </div>
                                            <div class=""><span>Casamax</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="portfolio-classic">
                                    <div class="portfolio-img overflow-hidden position-relative">
                                        <img class="transation" src="@Url.Content("~/images/proyectos/p_stesting.jpg")" alt="Image not found!">
                                        <div class="portfolio-hover transation bg-primary">
                                            <a class="portfolio-view" href="@Url.Content("~/images/proyectos/p_stesting.jpg")" data-fancybox="gallery" data-caption="Test Case Management Software"><i class="flaticon-search flat-mini text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="portfolio-info mt-3">
                                        <div class="portfolio-title d-inline-block">
                                            <h6 class="mb-1 text-secondary">Test Case Management</h6>
                                            <div class="text-primary">QA &bull; IT</div>
                                            <div class=""><span>Software Testing</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="portfolio-classic">
                                    <div class="portfolio-img overflow-hidden position-relative">
                                        <img class="transation" src="@Url.Content("~/images/proyectos/p_skyrocket01.jpg")" alt="Image not found!">
                                        <div class="portfolio-hover transation bg-primary">
                                            <a class="portfolio-view" href="@Url.Content("~/images/proyectos/p_skyrocket01.jpg")" data-fancybox="gallery" data-caption="Juego didáctico para tabletas. Cliente: Skyrocket"><i class="flaticon-search flat-mini text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="portfolio-info mt-3">
                                        <div class="portfolio-title d-inline-block">
                                            <h6 class="mb-1 text-secondary">Aplicación Web</h6>
                                            <div class="text-primary">Educación &bull; Juegos didácticos</div>
                                            <div class=""><span>Skyrocket</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="portfolio-classic">
                                    <div class="portfolio-img overflow-hidden position-relative">
                                        <img class="transation" src="@Url.Content("~/images/proyectos/p_sushiroll01.jpg")" alt="Image not found!">
                                        <div class="portfolio-hover transation bg-primary">
                                            <a class="portfolio-view" href="@Url.Content("~/images/proyectos/p_sushiroll01.jpg")" data-fancybox="gallery" data-caption="Aplicación Web - Intranet. Cliente: Sushi Roll"><i class="flaticon-search flat-mini text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="portfolio-info mt-3">
                                        <div class="portfolio-title d-inline-block">
                                            <h6 class="mb-1 text-secondary">Aplicación Web - Intranet</h6>
                                            <div class="text-primary">Contabilidad &bull; Finanzas </div>
                                            <div class=""><span>Sushi Roll</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="portfolio-classic">
                                    <div class="portfolio-img overflow-hidden position-relative">
                                        <img class="transation" src="@Url.Content("~/images/proyectos/p_unam01.jpg")" alt="Image not found!">
                                        <div class="portfolio-hover transation bg-primary">
                                            <a class="portfolio-view" href="@Url.Content("~/images/proyectos/p_unam01.jpg")" data-fancybox="gallery" data-caption="Aplicación Web. Cliente: UNAM"><i class="flaticon-search flat-mini text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="portfolio-info mt-3">
                                        <div class="portfolio-title d-inline-block">
                                            <h6 class="mb-1 text-secondary">Aplicación Web</h6>
                                            <div class="text-primary">Curaduría &bull; Cultura</div>
                                            <div class=""><span>UNAM</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="portfolio-classic">
                                    <div class="portfolio-img overflow-hidden position-relative">
                                        <img class="transation" src="@Url.Content("~/images/proyectos/p_unam02.jpg")" alt="Image not found!">
                                        <div class="portfolio-hover transation bg-primary">
                                            <a class="portfolio-view" href="@Url.Content("~/images/proyectos/p_unam02.jpg")" data-fancybox="gallery" data-caption="Aplicación web para publicaciones literarias. Cliente: UNAM"><i class="flaticon-search flat-mini text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="portfolio-info mt-3">
                                        <div class="portfolio-title d-inline-block">
                                            <h6 class="mb-1 text-secondary">Aplicación Web</h6>
                                            <div class="text-primary">Lectura &bull; Cultura</div>
                                            <div class=""><span>UNAM</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portafolio End -->
