@using Microsoft.Extensions.Options
@using JDInvoiceManager.Helper.Configuration
@inject IOptionsSnapshot<ServicesInfo> services
@inject IOptionsSnapshot<AppsettingsConfiguration> config
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bluebird - Multipurpose HTML Template">

    <meta name="author" content="root">
    <title>JD Solutions</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/assets/images/favicon.png")">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/fontawesome-all-5.15.1.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/animate.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/webfonts/flaticon/flaticon.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/owl.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/jquery.fancybox.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/layerslider.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/template.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/category/default.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/general-styles.css")">
</head>
<body>
    <header class="transparent-header nav-on-banner">
        <div class="navigation-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg nav-white nav-primary-hover nav-down-line-active py-2">
                            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img class="nav-logo" src="@Url.Content("~/images/jd_solutions_white_logo.png")" alt="Image not found !"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon flaticon-menu flat-small text-primary"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" asp-controller="Services" asp-action="Index">Servicios</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown">
                                                <a class="dropdown-toggle dropdown-item" href="#">Aplicaciones de negocio</a>
                                                <ul class="dropdown-menu">
                                                    @foreach (Service service in services.Value.Services.Where(s => s.groupid == "aplicaciones-de-negocio"))
                                                    {
                                                        <li><a class="dropdown-item" asp-controller="Services" asp-action="Detail" asp-route-serviceId="@service.id">@service.fullname</a></li>
                                                    }
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle dropdown-item" href="#">Integración de sistemas</a>
                                                <ul class="dropdown-menu">
                                                    @foreach (Service service in services.Value.Services.Where(s => s.groupid == "integracion-de-sistemas"))
                                                    {
                                                        <li><a class="dropdown-item" asp-controller="Services" asp-action="Detail" asp-route-serviceId="@service.id">@service.fullname</a></li>
                                                    }
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle dropdown-item" href="#">Advanced Tech</a>
                                                <ul class="dropdown-menu">
                                                    @foreach (Service service in services.Value.Services.Where(s => s.groupid == "advanced-tech"))
                                                    {
                                                        <li><a class="dropdown-item" asp-controller="Services" asp-action="Detail" asp-route-serviceId="@service.id">@service.fullname</a></li>
                                                    }
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle dropdown-item" href="#">Servicios profesionales</a>
                                                <ul class="dropdown-menu">
                                                    @foreach (Service service in services.Value.Services.Where(s => s.groupid == "servicios-profesionales"))
                                                    {
                                                        <li><a class="dropdown-item" asp-controller="Services" asp-action="Detail" asp-route-serviceId="@service.id">@service.fullname</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" asp-controller="Pricing" asp-action="Index">Modelos de trabajo</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#">Productos</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown">
                                                <a class="dropdown-toggle dropdown-item" asp-controller="Products" asp-action="BlueHouse">Blue House</a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle dropdown-item" asp-controller="Products" asp-action="PACFE">Pacfe</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown mega-dropdown">
                                        <a class="nav-link dropdown-toggle" asp-controller="Home" asp-action="Index" asp-fragment="jdproyectos">Proyectos</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" asp-controller="AboutUs" asp-action="Index">Nosotros</a>
                                    </li>
                                </ul>
                                <div class="float-right navbar-nav nav-element">
                                    <div class="navbar-nav">
                                        <div>
                                            <a asp-controller="Contact" asp-action="Index" class="btn btn-primary jd-primary-bcolor float-right">Contáctanos</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()

    <!-- Footer Section Start -->
    <footer class="full-row bg-gray" style="padding-bottom: 30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget mb-5">
                        <div class="footer-logo mb-4">
                            <img src="@Url.Content("~/images/jd_solutions_logo.png")" alt="JD Solutions" width="170px" />
                        </div>
                        <p>Somos una empresa mexicana creada por un equipo de profesionales con 8 años de experiencia en el desarrollo de software. Desarrollamos aplicaciones web y sistemas; ofrecemos consultoría informática a la medida.</p>
                        <a asp-controller="Contact" asp-action="Index" class="btn btn-primary mt-4">Contáctanos</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget post-widget mb-5">
                        <h3 class="widget-title mb-4">Nuestros productos</h3>
                        <ul>
                            <li><a asp-controller="Products" asp-action="BlueHouse">Acerca de BLUE House</a></li>
                            <li><a asp-controller="Products" asp-action="PACFE">Acerca de PACFE</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-nav mb-5">
                        <h3 class="widget-title mb-4">Servicios</h3>
                        <ul>
                            @{
                                var groups = services.Value.Services.GroupBy(g => new { g.groupid, g.group });
                            }
                            @foreach (var group in groups)
                            {
                                <li><a asp-controller="Services" asp-action="GroupBy" asp-route-groupId="@group.Key.groupid">@group.Key.group</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget contact-widget mb-5">
                        <h3 class="widget-title mb-4">Contacto</h3>
                        <ul>
                            <li><i class="fas fa-map-marker-alt"></i> Ciudad de México</li>
                            <li><i class="fas fa-phone-square-alt"></i> 55-704-41840</li>
                            <li><i class="far fa-paper-plane"></i><a href="mailto:contacto@jdsolutions.com.mx">&nbsp; contacto@jdsolutions.com.mx</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Copyright Section Start -->
    <div class="copyright bg-dark text-default py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>©@DateTime.Now.Year JD Solutions SA de CV. Todos los derechos reservados.</span>
                </div>
                <div class="col-md-6">
                    <ul class="line-menu float-right list-color-gray">
                        <li class="float-left"><a href="#">Política de privacidad </a></li>
                        <!--<li class="float-left">|</li>
                        <li class="float-left"><a href="#">Site Map</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright Section End -->
    <input type="hidden" id="hfSiteURL" name="hfSiteURL" value="@config.Value.Site.ServerURL" />
    <!-- Scroll to top -->
    <a href="#" class="bg-primary text-white" id="scroll"><i class="fa fa-angle-up"></i></a>
    <!-- End Scroll To top -->
    <!--===============================================================================================-->
    <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/js/greensock.js")"></script>
    <script src="@Url.Content("~/assets/js/layerslider.transitions.js")"></script>
    <script src="@Url.Content("~/assets/js/layerslider.kreaturamedia.jquery.js")"></script>
    <script src="@Url.Content("~/assets/js/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.fancybox.min.js")"></script>
    <script src="@Url.Content("~/assets/js/owl.js")"></script>
    <script src="@Url.Content("~/assets/js/wow.js")"></script>
    <script src="@Url.Content("~/assets/js/mixitup.min.js")"></script>
    <script src="@Url.Content("~/assets/js/validate.js")"></script>
    <script src="@Url.Content("~/assets/js/custom.js")"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
